.background{
	background-color: #80ceff;
	padding: 0;
	margin: 0;
	padding-right: 10px;
	padding-left:10px;
	width: 100%;
	min-height: 30vh;	  
}
.top{
	margin-top: 10px
}
.main-temperature{
	font-size: 25px;
}
.feuchtigkeit{
	margin-left: 5px;
}
.nextday-icon{
	margin-top:-10px;
	margin-bottom: 7px;
	width:60px;
	height:55px;
}
.max-grad{
	 margin-left: 4px;
	 font-size: 23px;
}
.min-grad{
	 margin-top: -17px;
	 margin-left: -2px;
}
.day{
	margin-top: -8px;
}
.day-month{
	margin-top: -3px;
	margin-left: -2px;
}
.nph{
	margin-top: -45px;
	margin-left: 28px;
}