.menu-leiste {
	margin-top: 20px;
  }
  #sidebar-right{
	  background-color: black;
	  padding-left: 10px;
	  
  }
  .wetter-setting-icon{
	  width: 13px;
	  height: 13px;
	  margin-right: 20px;
	  margin-top: -2px;
  }
  .radar-icon{
	  width: 14px;
	  height: 14px;
	  margin-right: 20px;
	  margin-top: -3px;
  }
  .info-icon{
	  width: 18px;
	  height: 18px;
	  margin-right: 17px;
	  margin-top: -3px;
	  margin-left: -2px;
	  
  }
  
  #first-line{
	  margin-top: 30px;
  }
  
  .hr{
	  margin-top: -15px;
	  margin-right: 10px;
  }
  
  .about{
	  color: white;
	  margin-left: -40px;
  }

  .menu-button {
	width: 28px;
	height: 18px;
	margin-top:-11px;
  }