.menu-leiste {
	margin-top: 20px;
  }
  .menu-button {
	width: 30px;
	height: 20px;
	margin-top:-11px;
	margin-left:-13px;
  }
  
  .city {
	margin: 0 auto;
	color: white;
	font-size: 20px;
  }
  .suchen {
	width: 25px;
	height: 23px;
	margin-top:-11px;
	margin-right:-10px;

  }
  #sidebar-right,
  #sidebar-left {
	background-color: black;
	padding-left: 10px;
  }
  .wetter-setting-icon {
	width: 13px;
	height: 13px;
	margin-right: 20px;
	margin-top: -2px;
  }
  .radar-icon {
	width: 14px;
	height: 14px;
	margin-right: 20px;
	margin-top: -3px;
  }
  .info-icon {
	width: 18px;
	height: 18px;
	margin-right: 17px;
	margin-top: -3px;
	margin-left: -2px;
  }
  
  #first-line {
	margin-top: 30px;
  }
  
  .hr {
	margin-top: -15px;
	margin-right: 10px;
  }
  .search-icon{
	  margin-right: 125px;
	  width: 30px;
	  height:30px;

  }
  
  .close-white-icon {
	margin-left: 250px;
	margin-top: 30px;
	margin-bottom: -20px;
  }
  
  .hr2 {
	margin-top: 8px;
	margin-right: 20px;
	margin-left: 20px;
  }
  
  .input {
	margin-right: 20px;
	margin-left: 35px;
	width: 200px;
	background-color: black;
	border: none;
	color: white;
  }
  
  .main-temp {
	margin-left: -60px;
  }
  
  /* nextday */
  .background{
	  background-color: #80ceff;
	  padding: 0;
	  margin: 0;
	  padding-right: 10px;
	  padding-left:10px;
	  width: 100%;
	  min-height: 30vh;	  
  }
  .top{
	  margin-top: 10px
  }
  .feuchtigkeit{
	  margin-left: 5px;
  }
  .main-temperature{
	  font-size: 25px;
  }
  .nextday-icon{
	  margin-top:-10px;
	  margin-bottom: 7px;
	  width:60px;
	  height:55px;
  }
  .day{
	  margin-top: 10px;
  }
    .day-month{
	  margin-top: -3px;
	  margin-left: -2px;
  }
  .nph{
	  margin-top: -45px;
	  margin-left: 29px;
  }

